:root {
	--iris: #4d5ae5;
	--ocean: #404bbf;
	--navy-blue: #2e2f42;
	--green: #31d0aa;
	--slate: #434455;
	--light-slate: #8e8f99;
	--cornflower: #e7e9fc;
	--cloud: #f4f4fd;
	--navy-blue-modal: rgba(46, 47, 66, 0.4);
	--grey: rgba(46, 47, 66, 0.7);
	--white: #fff;
	--dairy: #fcfcfc;
}

:root {
    --font-family: "Roboto", sans-serif;
    --second-family: "Raleway", sans-serif;
  }
  h1, h2, h3, h4, h5, h6, p{
    margin: 0;
  }

  a {
    text-decoration: none;
    }
    
    ul {
    list-style: none;
    padding-left: 0; 
    margin: 0;
    }

    img{
    display: block;
    max-width: 100%;
    height: auto;
    }

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.container{
    max-width: 320px;
     margin: 0 auto;
     padding: 0 16px;  
     }
    
@media screen and (min-width:768px) {
    .container{
        max-width:768px;
    }
}

@media screen and (min-width:1158px) {
    .container{
        max-width:1158px;
        padding: 0 15px;
    }
}

/* header */

.container-header{
    height: 56px;
    display: flex;
    align-items: center;
     }

.header-style{
border-bottom: 1px solid #e7e9fc;
box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 
0px 1px 1px rgba(46, 47, 66, 0.16), 
0px 1px 6px rgba(46, 47, 66, 0.08);
}


.logo{
    font-family: var(--second-family);
    font-weight: 700;
font-size: 18px;

/* line-height: 21px; */ 
line-height: 1.17;
letter-spacing: 0.03em;
text-transform: uppercase;
color: var(--iris);
padding: 16px 0;
  }

.logo-black{
color: var(--navy-blue);
  }

.mobile-menu-btn{
    background-color: transparent;
    border: none;
    padding: 0;
    margin-left: auto;
}

.mobile-menu-pin{
    display: block;
    fill: #2f2f37;
}

.page-info,
.contacts-info{
    display: none;
}

@media screen and (min-width: 768px) {
    .mobile-menu-btn{
        display: none;
    }

    .header-nav{
        display: flex;
        align-items: center;
    }
    
    .logo{
        padding: 24px 0;
        margin-right: 120px;
    }

    .page-info{
        display: flex;
        align-items: center;
        gap: 40px;
        list-style: none;
        margin: 0;
        padding: 0;
    }
    .page-info-item .link {
        position: relative;
        text-decoration: none;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        color: #404bbf;
      }
      .studio-element::after {
        content: '';
        width: 100%;
        position: absolute;
        left: 0;
        bottom: -1px;
        height: 4px;
        background-color: #404bbf;
        border-radius: 2px;
      }
    
    .page-info .link{
        font-weight: 500;
        font-size: 16px;
        
        /* line-height: 24px; */ 
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: var(--navy-blue);
        padding: 24px 0;
        display: block;
    }
    
    .page-info .link:hover,
    .page-info .link:active{
    font-weight: 500;
    font-size: 16px;
    
    /* line-height: 24px; */ 
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--ocean);
    }
    .page-info-item {
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
         
    .contacts-list{
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 12px;
    }
        
    .contacts-info{
        font-style: normal;
        margin-left: auto;
        display: block;
        align-items: center;
        gap: 40px;
    }
        
    .contact{
        font-weight: 400;
        font-size: 16px;
        /* line-height: 24px; */ 
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: var(--slate);
        margin-right: 40px;
        padding: 24px 0;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
        
    .contact:last-child{
        margin-right: 0;
    }

    .contact:hover,
    .contact:focus{
        color:var(--ocean);
    }
}


@media screen and (min-width:1158px){
    
    .contacts-list{
        flex-direction: row;
        gap: 40px;
    }

    .contact{
padding: 24px 0;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
    }
    
.logo{
    margin-right: 76px;}
}

/* mobile menu*/

@media screen and (min-width: 768px) {
    .mobile-menu {
        display: none;
        }
      }
      
.mobile-menu{
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transform: translateX(100%);
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
         visibility 250ms cubic-bezier(0.4, 0, 0.2, 1), 
         transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

.mobile-menu.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: all;
    transform: translateY(0%);
    }

.mobile-menu-cntnr{
    display: flex;
    flex-direction: column;
    position: relative;
    padding-top: 72px;
    padding-bottom: 40px;
    height: 100%;
    background-color: #fff;
}

.close-mobile-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-color: var(--cornflower);
    width: 24px;
    height: 24px;
    position: absolute;
    top: 24px;
    right: 24px;
    padding: 0;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), 
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
   }

.mobile-nav{
    display: block;
    margin-bottom: auto;
}

.mobile-page-info{
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.mobile-link{
    font-weight: 700;
font-size: 36px;

/* line-height: 40px; */ 
line-height: 1.11111;
letter-spacing: 0.02em;
color: var(--navy-blue);
}

.mobile-link.studio-element{
    color: var(--ocean);
}

.mobile-nav-contacts{
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.mobile-contacts-info{
    display: flex;
    font-style: normal;
}

.mobile-contacts-list{
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.mobile-contact{
    font-weight: 500;
font-size: 20px;

/* line-height: 24px; */ 
line-height: 1.2;
letter-spacing: 0.02em;
color: var(--slate);
}

.mobile-contact:hover,
.mobile-contact:focus{
    color: var(--iris);
}

.mobile-network-logo-list{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 40px;
    padding: 0 4px;
}
/* section 1 */

.made{
padding: 72px 0;
background-image: linear-gradient(
    to bottom,
    rgba(46, 47, 66, 0.7),
    rgba(46, 47, 66, 0.7)),
url(../images/bgc/hero-image-mob-min.jpg); 
background-position: center;
background-size: cover;
background-repeat: no-repeat;
max-width: 320px;
width: 100%;
margin: 0 auto;
}

.page-title{
    font-family: var(--font-family);
    font-weight: 700;
font-size: 36px;
/* line-height: 60px; */ 
line-height: 1.02;
letter-spacing: 0.02em;
text-align: center;
color: var(--white);
max-width: 216px;
margin: 0 auto 72px;
}

@media (min-resolution:192dpi){
    .made{
        background-image: linear-gradient(
    to bottom,
    rgba(46, 47, 66, 0.7),
    rgba(46, 47, 66, 0.7)),
        url(../images/bgc/hero-image-mob@2x-min.jpg);
    }
}

@media screen and (min-width: 768px){
    .made{
        background-image: linear-gradient(
    to bottom,
    rgba(46, 47, 66, 0.7),
    rgba(46, 47, 66, 0.7)),
        url(../images/bgc/hero-image-tab-min.jpg);
     max-width: 768px;
     padding: 112px 0;
}
.page-title{
    max-width: 496px;
   font-size: 56px;
   line-height: 1.07;
   margin-bottom: 36px; 
}
}

@media (min-resolution:192dpi){
    .made{background-image: linear-gradient(
    to bottom,
    rgba(46, 47, 66, 0.7),
    rgba(46, 47, 66, 0.7)),
url(../images/bgc/hero-image-tab@2x-min.jpg);
    }
}

@media screen and (min-width: 1158px){
    .made{
        background-image: linear-gradient(
    to bottom,
    rgba(46, 47, 66, 0.7),
    rgba(46, 47, 66, 0.7)),
        url(../images/bgc/hero-image-desk-min.jpg);
     max-width: 1440px;
     padding: 188px 0;
}
}

@media (min-resolution:192dpi){
    .made{background-image: linear-gradient(
    to bottom,
    rgba(46, 47, 66, 0.7),
    rgba(46, 47, 66, 0.7)),
url(../images/bgc/hero-image-desk@2x-min.jpg);
    }

.page-title{
   margin-bottom: 48px;
}
}

.order-button{
background: var(--iris);
font-family: var(--font-family);
font-weight: 500;
font-size: 16px;

/* line-height: 24px; */ 
line-height: 1.5;
letter-spacing: 0.04em;
color: var(--white);
cursor: pointer;
display: block;
min-width: 169px;
height: 56px;
box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
padding: 16px 0;
border-radius: 4px;
border: none;
margin: 0 auto;
transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.order-button:hover,
.order-button:focus{
color: var(--white);
background: var(--ocean);

}

/* section 2 */

.page-advantages{
    padding: 96px 0;
}

  .list-advantages{
    display: flex;
    flex-wrap: wrap;
    gap: 72px;
  }

  .advantages-list-item{
width: 100%;
  }

@media screen and (max-width:1157px){
.logo-advantages{
    display: none;
}
.advantages-list-item .title-points{
font-weight: 700;
font-size: 36px;

/* line-height: 40px; */ 
line-height: 1.11111;
letter-spacing: 0.02em;
color: var(--navy-blue);
}

.advantages-list-item .description-skills{
    font-weight: 500;
font-size: 16px;

/* line-height: 24px; */ 
line-height: 1.5;
letter-spacing: 0.02em;
color: var(--slate);
}
}

@media screen and (min-width: 768px){
    .list-advantages {
    row-gap: 72px;
    column-gap: 24px;
  }

    .advantages-list-item{
width: calc((100% - 24px) / 2);
}

.advantages-list-item .title-points{
text-align: start;
}

}


@media screen and (min-width: 1158px){
.list-advantages{
    display: flex;
    gap: 24px;
  }

.page-advantages{
 padding: 120px 0;
}

.advantages-list-item{
width: calc((100% - 72px) / 4);
}

.logo-network{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 112px;
    background-color: #f4f4fd;
    border-radius: 4px;
    border: 1px solid #8e8f99;
    margin-bottom: 8px; 
}
}

/* section 3 */

.our-team{
background-color: var(--cloud);
padding: 96px 0;
}

.member-name,
.member-role{
    text-align: center;
}


.back-team{
    display: flex;
    flex-wrap: wrap;
    gap: 72px;
}
.back-team .back{
    width: 264px;
    box-shadow: 
  0px 1px 6px rgba(46, 47, 66, 0.08), 
  0px 1px 1px rgba(46, 47, 66, 0.16), 
  0px 2px 1px rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;
  background-color: #FFFFFF;
}

.network-logo-list{
    display: flex;
    justify-content: center;
    gap: 24px;
}

.title-advantages{
    text-transform: capitalize;
    font-weight: 700;
    font-size: 36px;
    
    /* line-height: 40px; */ 
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: var(--navy-blue);
    margin-bottom: 72px;
}

.text-name-item{
    padding: 32px 0;
}

.network-logo-list {
    display: flex;
    justify-content: center;
    gap: 24px;
}

.network-item{
 width: 40px;
 height: 40px;
}

.network-link:hover,
.network-link:focus {
    background-color: #404bbf;
}

.network-link {
    width: 100%;
    height: 100%;
    background-color: var(--iris);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.network-icon{
    fill:#f4f4fd;
}

@media screen and (min-width: 768px){
.our-team .container{
 max-width: 552px;
}

    .back-team{
     row-gap: 64px;
     column-gap: 24px;
    }

    .back-team .back{
    width: calc((100% - 24px) / 2);
    }
}
 
@media screen and (min-width: 1158px){
.our-team{
    padding: 120px 0;}

.our-team .container{ 
    max-width: 1128px;
  }

  .back-team .back{
    width: calc((100% - 24px * 3) / 4);
    } 
}

/* section 4 */

.portfolio-section{
    padding-top: 96px; 
    padding-bottom: 96px; 
}

.portfolio-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 48px;
    column-gap: 24px;
}

.portfolio-item{
max-width: 288px;
background-color: #fff;}

.portfolio-item-text{
    border: 1px solid #e7e9fc;
    border-top: none;
    padding: 32px 16px;  
}


.title-points{
font-weight: 500;
font-size: 20px;

/* line-height: 24px; */ 
line-height: 1.2;
letter-spacing: 0.02em;
color: var(--navy-blue);
margin-bottom: 8px;
}

.description-skills{
    font-weight: 400;
font-size: 16px;

/* line-height: 24px; */ 
line-height: 1.5;
letter-spacing: 0.02em;
color: var(--slate);

}

@media screen and (max-width:1157px){
.portfolio-overlay-text{
    display: none;
}
}

@media screen and (min-width: 768px){
    .portfolio-list{
        row-gap: 72px;
        column-gap: 24px;
    }
    .portfolio-item{
width: calc((100% - 24px) / 2);}
}

@media screen and (min-width: 1158px){
.portfolio-section{
    padding-top: 120px; 
    padding-bottom: 120px; 
}

    .portfolio-list{
        row-gap: 48px;
    }

    .portfolio-item{
width: calc((100% - 48px) / 3);
transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-item:first-child {
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-item:hover{
    box-shadow: 
    0px 1px 6px rgba(46, 47, 66, 0.08), 
    0px 1px 1px rgba(46, 47, 66, 0.16), 
    0px 2px 1px rgba(46, 47, 66, 0.08);;
}

.portfolio-thumb{
    position: relative;
    overflow: hidden;
}

.portfolio-overlay-text{
    position: absolute;
    top: 0;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--cloud);
    padding: 40px 32px;
    background-color: #4d5ae5;
    height: 100%;
    width: 100%;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-item:hover .portfolio-overlay-text {
    transform: translateY(0%);
  }
}

/* footer */

.footer-back{
background-color: var(--navy-blue);
padding: 96px 0;
}

.container-footer{  
    display: flex;
    flex-wrap: wrap;
    gap: 72px;
    justify-content: center;
     }

.logo-footer-box{
    text-align: center;
}

.logo-footer{
    font-family: var(--second-family);
    font-weight: 700;
font-size: 18px;

/* line-height: 21px; */ 
line-height: 1.17;
letter-spacing: 0.03em;
text-transform: uppercase;
color: var(--iris);
display: inline-block;
margin-bottom: 16px;
}

.logo-white-footer{
    font-family: var(--second-family);
    font-weight: 700;
font-size: 18px;

/* line-height: 21px; */ 
line-height: 1.17;
letter-spacing: 0.03em;
text-transform: uppercase;
color: var(--cloud);
display: inline-block;
}

.final-text{
    font-weight: 400;
    font-size: 16px;
    
    /* line-height: 24px; */ 
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--cloud);
    text-align: start;
}

 .social-text{
    font-weight: 500;
font-size: 16px;

/* line-height: 24px; */ 
line-height: 1.5;
letter-spacing: 0.02em;
color: var(--white);
margin-bottom: 16px;
text-align: center;
 }

 .social-list{
    gap: 16px;
 }

.network-link-footer{
    width: 100%;
    height: 100%;
    background-color: var(--iris);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
 }

 .network-foot-icon{
    fill: #f4f4fd;
 }

.footer-label{
 margin: 0 auto;
}

.group-title{
    font-weight: 500;
font-size: 16px;

/* line-height: 24px; */ 
line-height: 1.5;
letter-spacing: 0.02em;
text-align: center;
color: var(--navy-blue);
}

.footer-form{
    gap: 24px;
    display: flex;
    flex-wrap: wrap;
}

.footer-input{
    width: 288px;
    height: 40px;
    border: 1px solid #ffffff;
    background-color: transparent;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    padding-left: 16px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
   color: var(--white);
}

.footer-input::placeholder{
    color: rgba(255, 255, 255, 0.6);
}

.footer-sub{
 display: flex;
 align-items: center;
 justify-content: center;
 flex-direction: row;
 border-radius: 4px;
 border: none;
 margin: 0 auto;

 font-weight: 500;
font-size: 16px;

/* line-height: 24px; */ 
line-height: 1.5;
letter-spacing: 0.04em;
text-align: center;
color: var(--white);
 padding: 8px 24px;
 min-width: 165px;
 height: 40px;
 background: var(--iris);
 color: #ffffff;
 cursor: pointer;
 
}

.sub-pin{
    margin-left: 16px;
}

@media screen and (min-width: 768px){
.container-footer {
  justify-content: flex-start;
  column-gap: 24px;
  align-items: baseline;
  padding-left: 108px;
  padding-right: 108px;
  }

  .logo-footer-box{
    text-align: start;
  }

 .final-text{
    max-width: 264px;
 }

  .social-text{
    text-align: start;
  }

  .social-text .soc-media{
    text-align: left
  }

    .footer-input{
        width: 264px;
    }
}

@media screen and (min-width: 1158px){
    .footer-back{
padding: 120px 0;
justify-content: space-between;
}

.container-footer{
    gap: 0px;
    padding: 0 15px;
}

.logo-footer-box{
    margin-right: 120px;
}

.sub-cntr-footer{
margin-left: auto;
}

.footer-label{
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.network-link-footer{
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
 }

 .network-link-footer:hover,
 .network-link-footer:focus{
 background-color: #31d0aa;
 }

}
/* modal overlay */

.modal-overlay{
    background-color: var(--navy-blue-modal);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), 
     visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
     
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
 }

 .modal-overlay.is-open{
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
 }

 .modal{
    box-shadow:
     0 1px 1px 0 rgba(0, 0, 0, 0.14),
     0 1px 3px 0 rgba(0, 0, 0, 0.12),
     0 2px 1px 0 rgba(0, 0, 0, 0.2);
     background-color: var(--dairy);
     padding: 72px 16px 24px 16px;
     border-radius: 4px;
     width: 288px;
     min-height: 623px;
     position: absolute;
     top:50%;
     left: 50%;
     transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
     transform: translate(-50%, -50%);
 }

.close-form-btn{
 display: flex;
 align-items: center;
 justify-content: center;
 border-radius: 50%;
 border: 1px solid rgba(0, 0, 0, 0.1);
 background-color: var(--cornflower);
 width: 24px;
 height: 24px;
 position: absolute;
 top: 24px;
 right: 24px;
 padding: 0;
 cursor: pointer;
 transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), 
 border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.title-form{
    font-weight: 500;
font-size: 16px;

/* line-height: 24px; */ 
line-height: 1.5;
letter-spacing: 0.02em;
text-align: center;
color: var(--navy-blue);
    margin-bottom: 16px;
}

.form-fields-cntnr{
    margin-bottom: 8px;
}

.form-label{
    font-weight: 400;
font-size: 12px;

/* line-height: 14px; */ 
line-height: 1.17;
letter-spacing: 0.04em;
color: var(--light-slate);
display: block; 
margin-bottom: 4px;
}

.form-input{
    border: 1px solid var(--navy-blue-modal);
border-radius: 4px;
width: 100%;
height: 40px;
background-color: transparent;
padding-left: 38px;
outline: transparent;
transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-icon{
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.textarea{
border: 1px solid var(--navy-blue-modal);
border-radius: 4px;
width: 100%;
height: 120px;
font-weight: 400;
font-size: 12px;

/* line-height: 14px; */ 
line-height: 1.17;
letter-spacing: 0.04em;
color: var(--navy-blue-modal);
background-color: transparent;
padding: 8px 16px;
outline: transparent;
transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
resize: none;}

.form-input:hover,
.form-input:focus{
    border: 1px solid var(--iris);
}

.form-input:hover + .modal-icon,
.form-input:focus + .modal-icon{
    fill: var(--iris);
}

.textarea:hover,
.textarea:focus{
    border: 1px solid var(--iris);
}

.form-section{
    display: block;
    position: relative; 
}

.comment-section{
    margin-bottom: 16px 
}



.label-element{
    width: 16px;
    height: 16px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 2px;
    transition: 
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), 
    border 250ms cubic-bezier(0.4, 0, 0.2, 1), 
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1); 
    display: inline-flex;
    align-items: center;
    justify-content: center;
    fill: transparent;
}

.checkbox-element:checked + .privacy-text .label-element {
    background-color: #404bbf;
    border: none;
    fill: #f4f4fd;
}

.agreement-element{
    margin-bottom: 24px;
}

.privacy-text{
    cursor: pointer;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
}

 .privacy-link{
    /* line-height: 16px; */ 
line-height: 1.33333;
text-decoration: underline;
text-decoration-skip-ink: none;
color: var(--iris);
 }

 .btn-send{
display: block;
align-items: flex-start;
justify-content: flex-start;
flex-direction: row;
gap: 10px;
border-radius: 4px;
border: none;
padding: 16px 32px;
min-width: 169px;
height: 56px;
box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
background: var(--iris);
margin: 0 auto;
transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
cursor: pointer;

line-height: 1.5;
letter-spacing: 0.04em;
font-weight: 500;
color: var(--white);
 }

 .btn-send:hover,
 .btn-send:focus{
    background: var(--ocean);
 }
 
 @media screen and (max-width: 767px){
    .privacy-text{
        display: flex;
        gap: 8px;
        align-items: center;
    }
 }

 @media screen and (max-width: 768px){
.close-form-btn:hover,
.close-form-btn:focus{
    border: none;
    background: var(--ocean);
}

.close-pin-btn{
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-form-btn:hover .close-pin-btn,
.close-form-btn:focus .close-pin-btn{
      fill: #ffffff;
}
 }